.menu {
	width: 150px;
	font-weight: bold;
	color: #fff;
	background-color: #45015d;
	border-radius:15px;
	padding: 10px 20px;
	position: fixed;
	top: 0;
	left: 0;
	height:100%;
}

.menu a {
	width: 100%;
	display: block;
	padding: 8px 16px;
	text-decoration: solid;
	color: inherit;
	box-sizing: border-box;
}

.menu a:hover {
	color: #000;
	background-color: #fff;
}