.tariff {
	width: 49%;
	padding: 0 8px;
	min-width: 150px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	box-sizing: border-box;
}

.tariff ul {
	background-color: white;
	color: black;
	padding: 0;
	margin: 0;
	background-color: #f1f1f1;
	border-radius:10px;
}

.tariff li {
	list-style-type: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dddddd;
	border-radius:10px;
	padding: 16px 0;
}


.tariff .tariff-name {
	color: white;
	background-color: black;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	font-size: 24px;
	padding: 32px 0;
	background-color: #45015d;
}

.tariff .price {
	font-size: 30px;
	font-weight: 400;
}

.tariff .period {
	opacity: 0.7;
}

.tariff button {
	color: #45015d;
	background-color: white;
	border-radius:20px;
	padding: 15px 20px;
	border: none;
	outline: none;
	cursor: pointer;
	font-family: inherit;
	font-size: 16px;
}

.tariff button:hover {
	color: white;
	background-color: #45015d;
}

.pro .tariff-name {
	background-color: #f44336;
}

.pro button {
	background-color: #f44336;
	color: white;
}
