body {
	margin: 0;
	background-color: #040216;
	color: white;
}
.wrapper{
	display: grid;
	grid-template-areas:
						'h h'
						'n p';
	grid-gap: 10px;
	grid-template-columns: 2fr 10fr;
	color: white;
	width:100%;
	max-width: 1200px;
	margin: 0 auto;
}

.wrapper > div {
	background-color: rgb(70, 79, 121);
	border-radius: 10px;
}
	

.wrapper-content {
	grid-area: p;
	padding: 15px;
}
	