body {
	margin: 0;
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

h1 {
	font-weight: 400;
	font-size: 64px;
}

h2 {
	color: #45015d;
	font-size: 48px;
	font-weight: 400;
	margin: 10px 0;
}

hr {
	width:100%;
	border: 5px solid #45015d;
	border-radius: 4px;
	margin: 20px 0;
}

.main {
	margin-left: 360px;
	margin-right: 40px;
	margin-top: 80px;
}